.fancy-header {
    color: red;
    text-decoration: underline;
}


h1.fancy-header {
    text-align: center;
}

h1 {
    color: darkblue;
    text-decoration: underline;
}

body {
    background-color: darkslategrey ;
}

body {
    background-image: url("../img/light image.jpg");
    background-right: no-repeat;
    background-size: contain;

}


li {
    list-style: square ;
}

#container, body {
    font-family: "Comic Sans MS", cursive;
}

table {
    font-size: 25px;
}


a:link {
    color: navy;
}

a:visited {
    color: darkorange;
}

a:hover {
    color: mediumturquoise;
}
/*h1{*/
/*    background-color: Blue;*/
/*}*/

/*codeup-green-header {*/
/*    background-color: green;*/
/*}*/


/*.fancy-header {*/
/*    color: blue;*/
/*}*/

/*#main-title {*/
/*    text-decoration: underline;*/
/*}*/

/*h4 {*/
/*    font-size: 50px;*/
/*}*/

/*li,h4 {*/
/*    background-color: yellow;*/




