.fancy-header {
    color: deeppink;
    text-decoration: underline;
}


/*h1{*/
/*    background-color: Blue;*/
/*}*/

/*codeup-green-header {*/
/*    background-color: green;*/
/*}*/


/*.fancy-header {*/
/*    color: blue;*/
/*}*/

/*#main-title {*/
/*    text-decoration: underline;*/
/*}*/

/*h4 {*/
/*    font-size: 50px;*/
/*}*/

/*li,h4 {*/
/*    background-color: yellow;*/


body ul {
    font-family: "American Typewriter", Serif;
}

